/* .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    transition: all 0.3s ease-in-out;
} */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 340px);
    z-index: 999;
    transition: all 0.3s ease;
}

/* Text visible on dark hero */
.nav-menu li {
    color: #ffffff;
}

.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    margin: 0;
    padding: 15px 170px;

    background: linear-gradient(264deg,
            #b415ff -5.09%,
            #df8908 106.28%);

    box-shadow: 0 5px 20px rgba(247, 238, 238, 0.3);
    z-index: 1000;
}

.scroll-on .nav-menu li {
    color: #000000;
}

.scroll-on .nav-connect {
    color: #ffffff;
    border: 2px solid white;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

/* Default (before scroll) */
.nav-menu li img {
    transition: filter 0.3s ease;
}

/* On scroll */
.scroll-on .nav-menu li img {
    filter: brightness(0) invert(1);
}

a {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}



/* =================={Responsivness}===================== */

@media (max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s ease;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

    .scroll-on {
        /* position: static;
        background: none;
        box-shadow: none;
        padding: 0; */
        padding: 10px 20px;
        width: auto;
    }
    /* .nav-logo{
        position: fixed;
    } */
}