@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #161513;
  color: white;
  font-family: "Outfit", sans-serif;
}
html {
  scroll-behavior: smooth;
}


/* Scrollbar width */
::-webkit-scrollbar {
  width: 15px; /* 10px */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: white;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    264deg,
    #df8908 -5.09%,
    #b415ff 106.28%
  );
  border-radius: 10px;
}

/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    264deg,
    #b415ff -5.09%,
    #df8908 106.28%
  );
}
